<div class="container">
    <div class="jumbotron">
    <h2 class="text-center">Sign In</h2>
      <form [formGroup]="signinForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" class="form-control" placeholder="Email" id="email" formControlName="email">
          <span class="help-block" *ngIf="!signinForm.get('email').valid && signinForm.get('email').touched">
            <span *ngIf="signinForm.get('email').errors['required']">Please enter your email!</span>
            <span *ngIf="!signinForm.get('email').errors['valid'] && !signinForm.get('email').errors['required']">Please enter valid email!</span>
          </span>
        </div>
        <div class="form-group">
          <label for="pwd">Password</label>
          <input type="password" class="form-control" placeholder="Password" id="pwd" formControlName="password">
          <span class="help-block" *ngIf="!signinForm.get('password').valid && signinForm.get('password').touched">
            Please enter password!
          </span>
        </div>
        <div class="checkbox">
            <label><input type="checkbox" id="remember" value="yes" >Remember Me</label>
        </div> 
            <input type="submit" class="btn btn-primary btn-block" value="Sign In" [disabled] = '!signinForm.valid'>
        <div class="text-right">
            <a href="#" class="btn btn-link">Forgot Password?</a> 
        </div>
        <div class="text-center">
          Need an account?<a routerLink="/signup" class="btn btn-link">Sign up</a>
        </div>
      </form>
  </div>
  </div>
  <!--  -->